/*body {
    font-family: 'Roboto Slab', Arial;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.95);
}
header {
    background-color: #e91c24;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}
section {
    margin: 15px;
    padding: 15px;
    text-align: center;
}

select {
    padding: 10px;
    width: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#department {
    border-color: #e91c24;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}


#course-code {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}


#course-code::placeholder {
    color: #000000;
}


#add-course {
    background-color: #e91c24;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#add-course:hover {
    background-color: #000000;
}

.course-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    width: 30%;
}*/

.navbar-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
  }

.time-column {
    min-width: 60px;
}
.time-slot {
    height: 50px; /* Height represents 1 hour */
    text-align: right;
    padding-right: 10px;
    border-bottom: 1px solid #ddd;
  }

.day-column {
    position: relative; /* Allows absolute positioning inside */
    border-left: 1px solid #ddd;
    min-height: 600px; /* Adjust based on your time slots */
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.class-block {
    position: absolute;
    width: 100%;
    background-color: #e91c24;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 1;
    font-size: calc((1.5vw + 1.5vh)/2);
    cursor: pointer;
}

.popup-box {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.class-block:hover .popup-box {
    visibility: visible;
    opacity: 1;
}

.input-group {
    display: flex; /* Enables flexbox */
    align-items: center; /* Aligns items vertically in the center */
}

.form-check-input {
    margin-right: 10px; /* Adds some space between the checkbox and the select box */
}

.form-select {
    justify-self: right;
}