<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Raven Planner</title>
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
  <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="static\index.css">
  <link rel="stylesheet" href="static\static.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="static\index.js" defer></script>
</head>

<body>
  <header class="bg-primary text-white text-center py-4">
    <h1>Raven Planner</h1>
    <p class="mb-0">Ethan Huynh</p>
    <p>Carleton University</p>
  </header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-center">
      <a class="navbar-brand" href="#">Home</a>
      <!--<a class="navbar-brand" href="projectinfo.html">Project Info</a>
      <a class="navbar-brand" href="faq.html">FAQ</a> -->
    </div>
  </nav>

  <!-- Main content -->
  <div class="container mt-5">
    <!-- Tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="add-course-tab" data-bs-toggle="tab" href="#addCourse" role="tab"
          aria-controls="addCourse" aria-selected="true">Add Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="preferences-tab" data-bs-toggle="tab" href="#preferences" role="tab"
          aria-controls="preferences" aria-selected="false">Preferences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="view-schedule-tab" data-bs-toggle="tab" href="#viewSchedule" role="tab"
          aria-controls="viewSchedule" aria-selected="false">View Schedule</a>
      </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content mt-3">
      <div class="tab-pane fade show active" id="addCourse" role="tabpanel" aria-labelledby="add-course-tab">
        <!-- Add Course Form -->
        <h6>Course Data is for Winter 2025</h6>
        <div class="d-flex justify-content-left">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="MATH" id="department">
              </div>
            </div>
            <div class="col">
              <div class="form-group ml-2">
                <input type="number" class="form-control" placeholder="1007" id="course-code">
              </div>
            </div>
            <div class="col">
              <button class="btn btn-primary ml-2 w-50" id="addCourseBtn">Add</button>
            </div>
          </div>
        </div>

        <!-- List of Added Courses -->
        <div class="accordion mt-3" id="selected-courses">
        </div>
      </div>

      <div class="tab-pane" id="preferences" role="tabpanel" aria-labelledby="preferences-tab">
        <form>
          <div class="input-group">
            <input class="form-check-input" type="checkbox" id="minimizeBeforeTimeCheck">
            
            <label for="minimizeBeforeTime" style="margin-left: 10px; margin-right: 5px;">
                Minimize classes starting before:
            </label>
    
            <select class="form-select" id="minimizeBeforeTime" aria-label="Minimize classes before">
              <option value="6:00">6:00 AM</option>
              <option value="6:30">6:30 AM</option>
              <option value="7:00">7:00 AM</option>
              <option value="7:30">7:30 AM</option>
              <option value="8:00">8:00 AM</option>
              <option value="8:30">8:30 AM</option>
              <option value="9:00">9:00 AM</option>
              <option value="9:30">9:30 AM</option>
              <option value="10:00">10:00 AM</option>
              <option value="10:30">10:30 AM</option>
              <option value="11:00">11:00 AM</option>
              <option value="11:30">11:30 AM</option>
              <option value="12:00">12:00 PM</option>
              <option value="12:30">12:30 PM</option>
              <option value="13:00">1:00 PM</option>
              <option value="13:30">1:30 PM</option>
              <option value="14:00">2:00 PM</option>
              <option value="14:30">2:30 PM</option>
              <option value="15:00">3:00 PM</option>
              <option value="15:30">3:30 PM</option>
              <option value="16:00">4:00 PM</option>
              <option value="16:30">4:30 PM</option>
              <option value="17:00">5:00 PM</option>
              <option value="17:30">5:30 PM</option>
              <option value="18:00">6:00 PM</option>
              <option value="18:30">6:30 PM</option>
              <option value="19:00">7:00 PM</option>
              <option value="19:30">7:30 PM</option>
              <option value="20:00">8:00 PM</option>
              <option value="20:30">8:30 PM</option>
              <option value="21:00">9:00 PM</option>
              <option value="21:30">9:30 PM</option>
              <option value="22:00">10:00 PM</option>
              <option value="22:30">10:30 PM</option>
              <option value="23:00">11:00 PM</option>
              <option value="23:30">11:30 PM</option>
            </select>
            

        </div>
        <div class="input-group">
          <input class="form-check-input" type="checkbox" id="minimizeAfterTimeCheck">
          <label for="minimizeAfterTime" style="margin-left: 10px; margin-right: 5px;">
              Minimize classes ending after:
          </label>
          <select class="form-select" id="minimizeAfterTime" aria-label="Minimize classes after">
            <option value="6:00">6:00 AM</option>
            <option value="6:30">6:30 AM</option>
            <option value="7:00">7:00 AM</option>
            <option value="7:30">7:30 AM</option>
            <option value="8:00">8:00 AM</option>
            <option value="8:30">8:30 AM</option>
            <option value="9:00">9:00 AM</option>
            <option value="9:30">9:30 AM</option>
            <option value="10:00">10:00 AM</option>
            <option value="10:30">10:30 AM</option>
            <option value="11:00">11:00 AM</option>
            <option value="11:30">11:30 AM</option>
            <option value="12:00">12:00 PM</option>
            <option value="12:30">12:30 PM</option>
            <option value="13:00">1:00 PM</option>
            <option value="13:30">1:30 PM</option>
            <option value="14:00">2:00 PM</option>
            <option value="14:30">2:30 PM</option>
            <option value="15:00">3:00 PM</option>
            <option value="15:30">3:30 PM</option>
            <option value="16:00">4:00 PM</option>
            <option value="16:30">4:30 PM</option>
            <option value="17:00">5:00 PM</option>
            <option value="17:30">5:30 PM</option>
            <option value="18:00">6:00 PM</option>
            <option value="18:30">6:30 PM</option>
            <option value="19:00">7:00 PM</option>
            <option value="19:30">7:30 PM</option>
            <option value="20:00">8:00 PM</option>
            <option value="20:30">8:30 PM</option>
            <option value="21:00">9:00 PM</option>
            <option value="21:30">9:30 PM</option>
            <option value="22:00">10:00 PM</option>
            <option value="22:30">10:30 PM</option>
            <option value="23:00">11:00 PM</option>
            <option value="23:30">11:30 PM</option>
          </select>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="prioritizeDaysOffCheck">
          <label class="form-check-label" for="prioritizeDaysOff">
              Prioritize days off
          </label>
        </div>
      </form>
    </div>
    

      <div class="tab-pane" id="viewSchedule" role="tabpanel" aria-labelledby="viewSchedule-tab">
        <!--schedule navigation-->
        <nav aria-label="Schedule navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous" id="previous">
                <span aria-hidden="true">&laquo; Previous</span>
              </a>
            </li>
            <li class="page-item mx-2">
              <input type="number" class="form-control" id="scheduleIndexInput" placeholder="" min="1"
                max="1000">
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next" id="next">
                <span aria-hidden="true">Next &raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- Weekly Schedule -->
        <div class="row">
          <!-- Time Column (Left Sidebar) -->
          <div class="col-1 time-column">
            <div class="time-slot">7:00</div>
            <div class="time-slot">8:00</div>
            <div class="time-slot">9:00</div>
            <div class="time-slot">10:00</div>
            <div class="time-slot">11:00</div>
            <div class="time-slot">12:00</div>
            <div class="time-slot">13:00</div>
            <div class="time-slot">14:00</div>
            <div class="time-slot">15:00</div>
            <div class="time-slot">16:00</div>
            <div class="time-slot">17:00</div>
            <div class="time-slot">18:00</div>
            <div class="time-slot">19:00</div>
          </div>

          <!-- Day Columns -->
          <div class="col day-column" id="Mon"></div>
          <div class="col day-column" id="Tue"></div>
          <div class="col day-column" id="Wed"></div>
          <div class="col day-column" id="Thu"></div>
          <div class="col day-column" id="Fri"></div>
        </div>

      </div>

    </div>
  </div>
  </div>
  <footer>
    <p>Copyright 2024, Ethan Huynh</p>
  </footer>
</body>

</html>